* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 100%;
}

body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: #121212;
    color: #e0e0e0;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: center;
    align-items: flex-start;
    min-height: 100vh;
    padding-top: 50px;
}

.container {
    width: 90%;
    max-width: 600px;
}

header {
    text-align: center;
    margin-bottom: 30px;
}

h1 {
    font-size: 2rem;
    padding: 30px;
}

#search-form {
    display: flex;
}

#search-input {
    flex-grow: 1;
    padding: 12px;
    font-size: 1rem;
    border: 1px solid #333;
    background-color: #121212;
    color: #e0e0e0;
    outline: none;
}

#search-form button {
    padding: 12px 20px;
    font-size: 1rem;
    border: none;
    background-color: #007bff;
    color: white;
    cursor: pointer;
    border-radius: 0 5px 5px 0;
    transition: background-color 0.2s ease;
}

#search-form button:hover {
    background-color: #0056b3;
}

/* Card do Perfil */

#profile-container {
    background-color: #1e1e1e;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.5);
    display: none;
}

.profile-card {
    display: flex;
    align-items: flex-start;
    gap: 20px;
}

.profile-avatar {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: 3px solid #007bff;
}

.profile-info h2 {
    font-size: 1.5rem;
    margin: 0;
}

.profile-info a {
    color: #007bff;
    text-decoration: none;
}

.profile-info p{
    margin-top: 10px;
    line-height: 1.6;
}

.profile-stats{
    display: flex;
    gap: 60px;
    margin-top: 20px;
    padding-top: 20px;
    border-top: 1px solid #333;
}

.stat{
    text-align: center;
}

.stat span{
    display: block;
    font-size: 1.2rem;
    font-weight: bold;
}

/* Card erro */

.error-card{
    text-align: center;
    color: #ff4f4f;
    padding: 20px;
}

@media  (max-width:800px) {
    .profile-card{
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .profile-stats{
        gap: 30px;
    }
    
    #profile-container{
        padding: 20px;

    }
}